@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

.page__container {
  background: _palette(highlight);
  overflow-x: hidden;
  color: _palette(text-dark);
}

/* HERO */

.hero {
  display: flex;
}

.hero__image {
  height: calc(100vh + 150px);
  width: 100%;
  background-blend-mode: overlay;
  background-image: url('http://placekitten.com/2880/1800'),
    linear-gradient(to bottom, #000000, #442c13);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  // animation: zoom-out 13s ease-in forwards;

  @include breakpoint-before('768px') {
    height: calc(100vh + 75px);
  }
}

.hero__content-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 2em;

  @include breakpoint-after('768px') {
    padding: 7em;
  }

  @include breakpoint-after('1080px') {
    padding: 12em;
  }
}

.hero__content {
  line-height: 1.25em;
  font-size: 5em;
  font-family: _font(family-display);
  margin: 0;
  color: _palette(text-light);

  @include breakpoint-before('767px') {
    font-size: 2.5em;
  }
}

.page__main {
  min-height: 100vh;
}

/* INTRO SECTION */

.page__logo-circle {
  position: absolute;
  top: 93vh;
  left: calc(50vw - 7.5em);
  height: 15em;
  width: 15em;
  border-radius: 50%;
  border: double 6px black;
  padding: 30px;
  margin: 0 auto;
  background: _palette(highlight);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  @include breakpoint-before('767px') {
    top: 91vh;
    left: calc(50vw - 4em);
    height: 8em;
    width: 8em;
  }
}

.page__logo-image {
  margin-top: 1em;
  width: 9em;

  @include breakpoint-before('767px') {
    width: 5em;
  }
}

.page__intro {
  position: relative;
  text-align: center;
  padding: 15% 20% 10%;
  margin: -10vh 10vh 0;
  background: _palette(highlight);
  background-blend-mode: multiply;
  box-shadow: 0 -7px 40px 0 rgba(0, 0, 0, 0.27);

  .section__heading-main {
    margin-bottom: 0;
  }

  .section__subheading {
    margin-bottom: 1em;
  }

  @include breakpoint-before('960px') {
    padding: 80px 20px 40px;
  }

  @include breakpoint-after('960px') {
    padding: 16% 12% 6%;
  }
}

.section__heading-main {
  text-align: center;
  font-size: 6em;
  font-family: _font(family-display);

  @include breakpoint-before('767px') {
    font-size: 3em;
  }
}

.section__subheading {
  font-size: 2em;
  font-family: _font(family-heading);
  text-transform: uppercase;

  @include breakpoint-before('767px') {
    font-size: 1.5em;
  }
}

.section__body {
  font-size: 1.25em;

  @include breakpoint-before('767px') {
    font-size: 1em;
  }
}

.page__separator {
  position: relative;
  text-align: center;
  padding: 2em 0;
  background: _palette(accent6);
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 15% 70% 15%;

  @include breakpoint-after('960px') {
    padding: 2em;
  }
}

.section__heading-minor {
  font-family: _font(family-display);
  font-size: 4em;
  margin: 0;
  color: _palette(text-light);

  @include breakpoint-before('767px') {
    font-size: 2em;
  }

  @include breakpoint-after('960px') {
    grid-column: span 3;
  }
}

/* --- end intro styles --- */

/* CAROUSEL GRID SECTION */

.page__carousel-grid {
  display: grid;
  grid-template-columns: 2fr 3fr 4fr;
  min-height: 100vh;

  @include breakpoint-before('960px') {
    display: block;
  }
}

.page__carousel-grid--nav-left,
.page__carousel-grid--nav-right {
  display: flex;
  align-items: center;
  box-shadow: none;
  padding: 100% 20px;

  @include breakpoint-after('960px') {
    display: none;
  }
}

.page__carousel-grid--nav-left {
  top: 0;
  left: 0;
}

.page__carousel-grid--nav-right {
  top: 0;
  right: 0;
  justify-self: right;
}

.page__carousel-grid--menu {
  background: _palette(accent2);

  @include breakpoint-before('960px') {
    display: none;
  }
}

.page__carousel-grid--image-wrapper {
  background: gray;
  height: 100vh;

  @include breakpoint-before('960px') {
    height: 50vh;
  }
}

.page__carousel-grid--image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.page__carousel-grid--content {
  background: _palette(accent4);
  min-height: 70vh;
}

/* --- end carousel styles --- */

/* CALLOUT GRID SECTION */

.page__callout-grid {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
  // grid-template-rows: repeat(3, 3fr);
  grid-template-areas:
    'callout1 callout1 image1'
    '. image2 callout2'
    'image3 image3 image3';
  min-height: 75vh;
  background: _palette(accent6);
}

.page__callout-grid--callout1 {
  grid-area: callout1;
  height: 75vh;
  font-family: _font(family-display);
  font-size: 3em;
  line-height: 1.2em;
  color: _palette(text-light);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 4em;

  p {
    margin: 0 auto;
  }
}

.page__callout-grid--image1 {
  grid-area: image1;
  height: 75vh;
}

.page__callout-grid--image2 {
  grid-area: image2;
  height: 75vh;
  box-shadow: 4px 30px 40px 0 rgba(0, 0, 0, 0.46);
  z-index: 100;
}

.page__callout-grid--callout2 {
  grid-area: callout2;
  height: 75vh;
  box-shadow: 4px 30px 40px 0 rgba(0, 0, 0, 0.46);
  background: _palette(highlight-dark);
  z-index: 100;
}

.page__callout-grid--image3 {
  grid-area: image3;
  height: 75vh;
  margin-top: -10vh;
  filter: grayscale(100%);
}

.page__callout-grid--image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

/* --- end carousel styles --- */

// @keyframes zoom-out {
//   from {
//     transform: scale(1.5);
//   }
//   to {
//     transform: scale(1);
//   }
// }
