@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

.page-container {
  overflow: hidden;
}

.grid-container {
  // background-color: blue;
  display: grid;
  grid-auto-flow: repeat(4, auto);
  grid-template-columns:
    'hero hero hero hero'
    'main main main main'
    'foot foot foot foot';
}

.hero-wrapper {
  height: 110vh;
  width: 100%;
  background-blend-mode: overlay;
  background-image: url('http://placekitten.com/2880/1800'),
    linear-gradient(to bottom, #000000, #442c13);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  animation: zoom 13s ease-in forwards;
  display: flex;
}

.hero-text {
  font-size: 5em;
  font-family: _font(family-heading);
}

.grid-main {
  display: grid;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
