@import '../../assets/scss/libs/vars';
@import '../../assets/scss/libs/functions';
@import '../../assets/scss/libs/mixins';
@import '../../assets/scss/libs/skel';

.Wrapper {
  overflow: hidden;
}

.PageContainer {
  background: _palette(highlight);
  color: _palette(text-dark);
  padding-top: 75px;
  height: 100vh;
  overflow: hidden;
}

.PageContent {
  height: 100%;
  width: 100%;
  overflow: hidden auto;
}
