.banner-wrapper {
  width: 100%;
  background-color: rgba(244, 208, 100, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5%;

  p {
    font-family: 'Jura';
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0;
  }
}