@import '../../assets/scss/libs/vars';
@import '../../assets/scss/libs/functions';
@import '../../assets/scss/libs/mixins';
@import '../../assets/scss/libs/skel';

.Nav {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 2em;
  width: 100%;
  z-index: 120;

  @include breakpoint-before('768px') {
    padding: 0;
  }
}

.MenuDesktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include breakpoint-before('768px') {
    display: none;
  }
}

.BrandWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.BrandLink {
  text-decoration: none;
  border: 0;
}

.Logo {
  width: 14em;
  padding: 1em;

  @include breakpoint-before('768px') {
    width: 12em;
  }
}

.Menu {
  margin: 1em;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint-before('768px') {
    width: 100%;
    margin-left: 0;
  }
}

.MenuItem,
.DropdownItem {
  cursor: pointer;
  margin-left: 1em;
  padding-left: 0 !important;
  text-align: center;
  text-transform: uppercase;

  @include breakpoint-before('768px') {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.MenuLink {
  color: _palette(text-light);
  text-align: center;
  text-transform: uppercase;
  padding: 0.75em 1em;
  border: none;

  &:hover,
  &:focus {
    color: _palette(highlight) !important;
  }
}

.DropdownItem {
  position: relative;
}

.DropdownLink {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75em 1em;
  color: _palette(text-light);
  border: 0;

  &:hover,
  &:focus {
    background: _palette(highlight);
    color: _palette(text-dark) !important;
  }
}

.DropdownMenu {
  display: block;
  padding: 0 !important;
  margin: 0 !important;
  background: black;
  border: 2px solid _palette(text-light);
  z-index: 105;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  list-style: none;
  transition: border-color 0.1s ease-in, color 0.1s ease-in,
    background 0.1s ease-in, display 0.1s ease-in;
}

.DropdownMenuItem {
  padding-left: 0 !important;
  width: 100%;
  cursor: pointer;
  text-align: left;
  text-transform: uppercase;

  @include breakpoint-before('768px') {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &:hover,
  &:focus {
    color: _palette(highlight) !important;
    font-weight: 600;
  }
}

.DropdownMenuLink {
  padding: 0.75em 1em;
  color: _palette(text-light);
  position: relative;
  border: 2px solid transparent;
  border: 0;
  width: 100%;
  display: block;
}

.NavButton {
  padding: 0.75em 1em !important;
  margin-left: 2em;
  height: auto !important;
  line-height: 1em !important;
  letter-spacing: unset !important;
  font-weight: unset !important;
  font-size: 1em !important;
  box-shadow: none !important;
  border: 2px solid _palette(text-light) !important;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover,
  &:focus {
    border: 2px solid _palette(highlight) !important;
  }
}

.CloseButton {
  height: auto;
  box-shadow: none !important;
  padding: 0 1em !important;
}

.MenuMobile {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  width: 100%;
  overflow: hidden;
  z-index: 150;
  transition: display height ease-in-out 0.2s;

  .LinkWrapper {
    flex-direction: column;
    align-items: space-between;
    display: none;
    transition: display ease-in-out 0.2s;
  }

  &.open {
    height: 100vh;

    .Menu {
      display: flex;
    }
  }

  @include breakpoint-before('768px') {
    display: flex;
  }
}
